    <div class="row">
      <h2 style="color: #39C595;font-family: sans-serif;text-decoration: underline;" class="mt-3 text-center">Connexion</h2>
    </div>
    <div class="row   justify-content-center" >
        <form [formGroup]="loginForm" (ngsubmit)="onLoginSubmit()">
                <div class="mb-3">
                    <label for="username ">Username</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text bg-light"><i class="fa fa-envelope mt-2" style="height: 30px;"></i></div>
                  </div>
                  <input type="text" class="form-control" id="username" placeholder="diakhate@gmail.com" formControlName="username">
                </div>
                </div>
                <div class="mb-3">
                    <label for="username ">Password</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text bg-light " style="border-right: none;"><i class="fa fa-lock mt-2" style="height: 30px;"></i></div>
                  </div>
                  <input type="password" class="form-control" id="password" placeholder="" formControlName="password">
                </div>
                </div>
            <div class="row justify-content-center">
                <div class="col-md-6 ">
                  <button  type="submit" (click)="onLoginSubmit()" class="btn w-100" style="background-color: #39C595 ;">Connecter</button>
                </div>
            </div>
          </form>
    </div>
    <div class="row justify-content-center ">
      
        <img src="assets/images/amico.png" alt="">
     
    </div>
