<div class="container-fluid" style="margin-left: 10px;margin-right:10px">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand col" href="#"><span><img src="assets/images/logo.png" alt="" style="width: 30%;"></span></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-end" style="width: 100%;">
              <li class="nav-item  col-md-4 bg-light  mt-3" style="margin-left: 10px;">
                <a class="nav-link btn  btn-labeled btn-outline-dark change " href="#">
                   <span class="btn-label"><i class="fab fa-app-store"  style='font-size:30px;color: blue;'></i></span>App Store</a>
              </li>
              <li class="nav-item  col-md-4 mt-3" style="margin-left: 10px;" >
                <a class="nav-link btn  btn-labeled btn-outline-dark change" href="#">
                <span class="btn-label"><i class="fab fa-google-play"  style='font-size:30px;color: #39C595;'></i></span>Google Play</a>
              </li>
              
            </ul>
          
          </div>
        </div>
      </nav>

      <div class="container-fluid ">
        <div class="row mt-5 d-flex justify-content-around">
           <div class="col col-md-5 col-sm-12 ">
              <h1 class="text-dark mt-5 text-center" style="font-weight: bold;"> 
                Devenez partenaire <br> reprochez vous <br> de vos clients !
        </h1>
                   <div class="mt-5">
                        <p class="text-center">TERALMA est une application fintech et <br>
                             de gestion budgetaire conçus pour établir <br>
                                 de solides habitudes financières.
                         </p>
                   </div>
                   
                      <div class=" row d-flex justify-content-center">
                          <img src="assets/images/logo.png" class=" mt-3   " alt="Teralma Logo" style="width: 50%; align-content: center;">
                      </div>

                      <div class=" row mt-4">
                         <div class="col-md-6 mt-3" >
                          <a class="nav-link btn  btn-outline-dark change " href="#" style="margin-left: 10px;margin-right: 10px;">
                            <span class="btn-label">
                              <i class="fab fa-app-store"  style='font-size:30px;color: blue'></i>
                            </span>App Store</a>
                         </div>

                         <div class="col-md-6 mt-3">
                          <a class="nav-link btn   btn-outline-dark change " href="#" style="margin-left: 10px;margin-right: 10px;">
                            <span class="btn-label">
                              <i class="fab fa-google-play"  style='font-size:30px;color: green'></i>
                            </span>Google Play</a>
                         </div>
                      </div>
                   
                      
           </div>
          
           <div class=" col-md-6 col-sm-12 d-flex justify-content-center ">
              <img src="assets/images/mobile.png" alt="" class="img-responsive" style="width: 100%;">
           </div>
         </div>
       </div>

       
        <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center mt-5">Denenir Partenaire</h3>
                </div>
              <div class="col-md-12 d-flex justify-content-center">
                <img src="assets/images/logo.png" alt="" class="img-responsive" style="width: 20%;">
              </div>

        </div>
       

       <div class="row mt-5 d-flex justify-content-around " style="background-color: whitesmoke;">
              <div class="col-md-3 shadow-lg mt-5 mb-5 rounded">
                <app-login></app-login>
             </div> 
              <div class="col-md-6 shadow-lg mt-5 mb-5 rounded">
                <app-register></app-register>
              </div>
              
              
       </div>

       <div class="row d-flex justify-content-center mt-5">
        <div class="col-md-5 col-sm-8 d-flex justify-content-center">
                <img src="assets/images/mobile2.png" class="img-responsive" alt="" style="width: 100% ;">
        </div>
        <div class=" col-md-5" style="font-size: 43px;color:#01664B">
            <h3 class="mt-5 text-center" style="font-style: italic;">
                Teralma est une solution de la <br> startup welfin qui veut digitaliser et <br> faciliter l' organisation des <br> cérémonies en Afrique.
            </h3>
            <div class="row mt-5">
               <div class="col-md-6 mt-2">
                <a class=" nav-link btn  btn-labeled btn-outline-dark change mr-3" href="#"  style="font-size: 30px;">
                  <span class="btn-label"><i class="fab fa-app-store"  style='font-size:30px;color: blue'></i></span>App Store</a>
               </div>
               
               <div class="col-md-6 mt-2">
                <a class=" nav-link btn  btn-labeled btn-outline-dark change mr-3" href="#" style="font-size: 30px;">
                  <span class="btn-label"><i class="fab fa-google-play"  style='font-size:30px;color: green'></i></span>Google Play</a>
               </div>
                   
            </div>
         </div>
    </div>

       

</div>
