<div class="container-fluid" style="margin-left: 10px; margin-right:10px">
      <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand col" href="#"><span><img src="assets/images/logo.png" alt="" style="width: 30%;"></span></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0  d-flex justify-content-around" style="width: 100%;">
              <li class="nav-item active">
                <a class="nav-link change mr-3" href="#">Connecter</a>
              </li>
              <li class="nav-item">
                <a class="nav-link change mr-3" href="#">Devenir Partenaire</a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn  btn-labeled btn-outline-dark change mr-3" href="#">
                   <span class="btn-label"><i class="fab fa-app-store"  style='font-size:30px;color: blue'></i></span>App Store</a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn  btn-labeled btn-outline-dark change" href="#">
                <span class="btn-label"><i class="fab fa-google-play"  style='font-size:30px;color: #39C595'></i></span>Google Play</a>
              </li>
              
            </ul>
          
          </div>
        </div>
      </nav>
       <!--Section Phone, Presentation et Logo -->

       <div class="container-fluid ">
        <div class="row mt-5 d-flex justify-content-around">
           <div class="col col-md-5 col-sm-12 ">
              <h1 class="text-dark mt-5 text-center" style="font-weight: bold;"> Une solution qui facilite et digitalise <br> chaque etape de l'organisation des <br> ceremonies en Afrique.
        commence ici</h1>
                   <div class="mt-5">
               <p class="text-center">Des milliards en transaction se font chaque année <br>
                  en cash durant les cérémonies religieuses au détriment du <br>
                  mobile paiement et les préparatifs nécessitent une grosse <br>
                  charge de travail
                 </p>
                   </div>
                   
                      <div class=" row  d-flex justify-content-center">
                          <img src="assets/images/logo.png" class=" mt-3   " alt="Teralma Logo" style="width: 50%; align-content: center;">
                      </div>

                      <div class=" row mt-4">
                         <div class="col-md-12" >
                          <a class="nav-link btn  btn-outline-dark change " href="#" style="margin-left: 10px;margin-right: 10px;">
                            <span class="btn-label">
                              <i class="fab fa-app-store"  style='font-size:30px;color: blue'></i>
                            </span>App Store</a>
                         </div>

                         <div class="col-md-12">
                          <a class="nav-link btn   btn-outline-dark change " href="#" style="margin-left: 10px;margin-right: 10px;">
                            <span class="btn-label">
                              <i class="fab fa-google-play"  style='font-size:30px;color: green'></i>
                            </span>Google Play</a>
                         </div>
                         
                         
                      </div>
                   
                      <div class="row d-flex justify-content-center">
                        <button class="nav-link btn btn-block" style="background-color: #39C595;margin-left: 20px;margin-right: 10px;" href="#">Telecharger l'application</button>
                       </div>
           </div>
          
           <div class="col-md-6 col-sm-12 d-flex justify-content-center" >
              <img src="assets/images/mobile.png" alt="" class="img-responsive" style="width: 100%;">
           </div>
         </div>
       </div>

       <div class="row mt-5  d-flex justify-content-center">
            <h3 class="text-center"> Vous etes client, vous voulez organiser <br> votre ceremonie</h3>
       </div>
      
            
      
        <div class="row mt-5 d-flex justify-content-around">
                <div class=" col-md-5 col-sm-12">
                    <img src="assets/images/mediter.png" alt="" style="width: 100%;">
                </div>

      
                <div class="col-md-5 col-sm-7 rounded" style="background-color: #01664B;">
                    <p class="mt-5 text-light text-center" style="font-size: 25px;">Aujourd'hui notre algorithme analyse 
                        les prix et les disponibilités des prestataires pour tous les postes 
                        de dépenses nécessaires pour l'organisation de votre cérémonie et vous
                         permet de célébrer de la plus belle des manières votre cérémonie sans dépasser votre budget.

                        .</p>
                </div>

        </div>

        <div class="row mt-5 ">
            <div class="col col-md-12">
              <h3 class="text-center mt-5" style="color: #39C595; font-style: italic;">Vous disposez d’ un event planner perso pour vous soulager du stress de l’ organisation </h3><br>
              <h2 class="text-center" style="color:#01664B; font-weight:bold">Une interface facile a utiliser</h2>
            </div>
       </div>

       <div class="row  d-flex justify-content-around">
           
            <div class="col col-md-3">
              <div class="row mt-5">
              <div class="col col-md-10 mt-5"> <h3>Creer un Budget </h3></div>
              <div class="col col-md-2 mt-5 "><img src="assets/images/tick.png" alt=""></div>
             <p >Nous créerons un budget et un <br> plan de cagnotte personnalisé.</p>
              </div>
              <div class="row mt-5">
              <div class="col col-md-10 mt-5"><h3>Education financiere</h3></div>
              <div class="col col-md-2 mt-5"><img src="assets/images/tick.png" alt=""></div>
              <p>Apprenez les finances en suivant nos <br> conseils d’éducation financière..</p>
              </div>
              <div class="row mt-5">
              <div class="col col-md-10 mt-5">  <h3>Paiement</h3></div>
              <div class="col col-md-2 mt-5"><img src="assets/images/tick.png" alt=""></div>
              <p>Les methodes de paiement les plus <br> simples, fiables et éfficaces.</p>
              </div>
          </div>


            <div class="col col-md-3 col-sm-12 d-flex justify-content-center">
                <img src="assets/images/teralmacall.png" alt="" class="mt-5">
            </div>

         

            <div class="col col-md-3">
                <div class="row mt-5">
                <div class="col col-md-10 mt-5"> <h3>Établir une cagnotte</h3></div>
                <div class="col col-md-2 mt-5"><img src="assets/images/tick.png" alt=""></div>
                 <p>Pour financer un évènement vous <br> avez le choix de créer une cagnotte.</p>
                </div>
                <div class="row mt-5">
                <div class="col col-md-10 mt-5"><h3>Service</h3></div>
                <div class="col col-md-2 mt-5"><img src="assets/images/tick.png" alt=""></div>
                <p>une liste des meilleurs collaborateurs <br> en événementiel pour votre projet..</p>
                </div>
                <div class="row mt-5">
                <div class="col col-md-10 mt-5">  <h3>Securite</h3></div>
                <div class="col col-md-2 mt-5"><img src="assets/images/tick.png" alt=""></div>
                <p>Nous protégeons vos données et <br> informations personnelles.</p>
                </div>
            </div>
        
       </div>

       <div class="row d-flex justify-content-center mt-4 ">
        <div class="col-md-4">
          <a class="nav-link btn  btn-labeled btn-outline-dark change mr-3" href="#"  style="font-size: 30px;">
            <span class="btn-label"><i class="fab fa-app-store"  style='font-size:30px;color: blue'></i></span>App Store</a>
        </div>
        <div class="col-md-4">
          <a class="nav-link btn  btn-labeled btn-outline-dark change mr-3" href="#"  style="font-size: 30px;">
            <span class="btn-label"><i class="fab fa-google-play"  style='font-size:30px;color: green'></i></span>Google Play</a>
        </div>
        
            
       </div>
            
       <div class="row mt-5 d-flex justify-content-center" style="background-color: #F5F5F5;">
        <div class="col-md-3">
            <img src="assets/images/images.png" alt="" style="width: 100%; margin-left: 10px;">

        </div>
        
        <div class="col col-md-5 mt-4" style="font-size: 43px;color:#01664B">
           <h3 class="text-center" style="font-style: italic;">
            L’organisation d’une cérémonie <br> nécessite une grosse charge de travail, et <br> un nombre incroyable de petits détails. <br>
            Vous pouvez donc très vite vous sentir <br> submergée par tous ces préparatifs. Et <br> çà c’est un vrai problème de future <br> mariée !
            <h2 class="mt-5" style="color: #39C595; font-weight: bold;font-family: 'Times New Roman', Times, serif;">Nous voulons changer cela.</h2>
           </h3>
        </div>

       </div>


       <div class="row ">
        <div class="col col-md-12">
          <h3 class="text-center mt-5" style="color: #01664B; font-style: italic;">Vous êtes Prestataires de services, <br> améliorez vos ventes et votre satisfaction client </h3><br>
        </div>
        </div>

        <div class="row">
            <div class="col col-md-12">
              <p class="text-center " style="color: #01664B; font-style: italic; font-size: 25px;"> Nous vous aidons à mettre en avant vos produits et services , trouver <br> facilement des clients , suivre les commandes et les paiements pour <br> mieux respecter vos engagements.

            </p><br>
            </div>
       </div>

       <div class="row ">
        <div class="col col-md-12">
          <h4 class="text-center mt-5" style="color: #39C595; font-style: italic;">Un moyen simple de gérer votre business </h4><br>
        </div>
        </div>

        <div class="row ">
            <div class="col col-md-12">
              <h1 class="text-center" style="color: #01664B; font-style: italic;">Une interface facile à utiliser </h1><br>
            </div>
         </div>

         <div class="row mt-3  d-flex justify-content-center ">
           
          
         <div class="card col-md-2 mt-3 d-flex"  style="margin-right:10px ;margin-left:10px ">
             <img class="card-img-top mt-4 fiximage " src="assets/images/credit.png" alt="Card image cap" style="height: 60px; width: 100px;">
             <div class="card-body">
               <h5 class="card-title text-center">Limiter vos frais</h5>
               <p class="card-text text-center">Teralma vous aidera à chaque étape de la création de votre budget.</p>
             </div>
           </div>
           
           <div class="card col-md-2 mt-3"  style="margin-left:10px ; margin-right:10px;"  >
             <img class="card-img-top mt-4 fiximage"  src="assets/images/card.png" alt="Card image cap" style="height: 70px; width: 60px;">
             <div class="card-body">
               <h5 class="card-title text-center">Paiement</h5>
               <p class="card-text text-center">Nous vous facilitons les moyens
                 de paiement avec nos partenaires</p>
             </div>
           </div>
         
           <div class="card col-md-2 mt-3 " style="margin-left:10px ; margin-right:10px;">
             <img class="card-img-top mt-4 fiximage"  src="assets/images/sacdollar.png" alt="Card image cap" style="height: 60px; width: 90px;">
             <div class="card-body">
               <h5 class="card-title text-center">Économisez plus</h5>
               <p class="card-text text-center">Développer et maintenir un portefeuille financier prospère grâce a Teralma. </p>
             </div>
           </div>
          
         </div>
 
     <div class="row mt-5 d-flex justify-content-center">
             
             <div class="card col-md-2"  style="margin-right:10px ;">
                 <img class="card-img-top mt-4 fiximage "  src="assets/images/hand.png" alt="Card image cap" style="height: 60px; width: 100px;">
                 <div class="card-body">
                   <h5 class="card-title text-center">Cagnottes</h5>
                   <p class="card-text">Créer des cagnottes pour
                     soutenir ou faire surprise à un
                     proche. </p>
                 </div>
               </div>
              
               <div class="card col-md-2" style="margin-left:10px ;">
                 <img class="card-img-top mt-4 fiximage"  src="assets/images/dollar.png" alt="Card image cap" style="height: 50px; width: 80px;">
                 <div class="card-body">
                   <h5 class="card-title text-center">Service Events</h5>
                   <p class="card-text">Trouvez le meillieurs services
                     évenementiels dans une
                     seule application. </p>
                 </div>
               </div>
 
             
         </div>

         <div class=" row mt-5 justify-content-center">
            <a class="nav-link  btn  text-light" style="background-color: #39C595; width: 30%;" href="#">Devenir Partenaire</a>
        </div>
       
        <div class="row mt-5" style="background-color: #39C595;">
            <div class="col-md-12">
                <h4 class="text-center mt-5 text-light" style="font-weight: bold;font-style: italic;">Vous êtes EVENT PLANNER, devenez partenaire</h4>
            </div>
            <div class="col-md-12">
                <h3 class="text-center" style="font-weight: bold;font-style: bold; color: #172B4D;">Nous vous aidons à mieux vous organisez et augmentez <br> votre chiffre d' affaire. </h3>
            </div>
        </div>

        <div class="row justify-content-center" style="background-color:#39C595 ;">
            <a class="nav-link btn mt-5 text-light " style="background-color: #172B4D;width: 30%;" href="#">Devenir Partenaire</a>
        </div>

        <div class="row">
            <img src="assets/images/mariage.png" alt="" style="width: 100%;">
        </div>

        <div class="row d-flex justify-content-center">
            <div class="col-md-5 col-sm-8 d-flex justify-content-center">
                    <img src="assets/images/mobile2.png" class="img-responsive" alt="" style="width: 100% ;">
            </div>
            <div class=" col-md-5" style="font-size: 43px;color:#01664B">
                <h3 class="mt-5 text-center" style="font-style: italic;">
                    Teralma est une solution de la <br> startup welfin qui veut digitaliser et <br> faciliter l' organisation des <br> cérémonies en Afrique.
                </h3>
                <div class="row mt-5">
                   <div class="col-md-">
                    <a class=" nav-link btn  btn-labeled btn-outline-dark change mr-3" href="#"  style="font-size: 30px;">
                      <span class="btn-label"><i class="fab fa-app-store"  style='font-size:30px;color: blue'></i></span>App Store</a>
                   </div>
                   
                   <div class="col">
                    <a class=" nav-link btn  btn-labeled btn-outline-dark change mr-3" href="#" style="font-size: 30px;">
                      <span class="btn-label"><i class="fab fa-google-play"  style='font-size:30px;color: green'></i></span>Google Play</a>
                   </div>
                       
                </div>
             </div>

             
        </div>

        <footer class="row d-flex justify-content-center" style="background-color:#172B4D; height: auto;">
            <div class="col-md-2 text-light pt-5" style="margin-left: 5px;">
                <p>Vous avez question ? </p>
                <a href="" class="btn text-light" style="background-color: #39C595;">Contactez nous</a>
            </div>

            <div class="col-md-2 text-light  pt-5 ">
                <p style="font-style: italic;"> <span><i class="fa fa-phone"></i></span> Phone Number
                <br> 00221781476249</p>
            </div>

            <div class="col-md-2 text-light  pt-5" >
                <p style="font-style: italic;"> <span><i class="fa fa-envelope"></i></span>  E-Mail Adress 
                  <br>seydina.sene@welfin.sn </p>
            </div>

            <div class="col-md-2 text-light  pt-5" >
              <p style="font-style: italic;"> <span><i class="fa fa-map-marker"></i></span>  Adresse
                <br>Yoff tonghor,Dakar,Senegal</p>  
            </div>
            
        </footer>
        

        


</div>
